.page-indicator {
    display: flex;
    gap: 8px;
    font-size: 18px;
    color: #666666;
    background-color: #63789e44;
    width: max-content;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 20px;

    &>i {
        font-size: 18px;
    }
}


.accessmanagement__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.accessmanagement__management-bar {
    display: flex;
    justify-content: space-between;

    &--search {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #000;
        width: 80%;

        &:focus {
            border: 2px solid rgb(46, 46, 129);
            outline: none;
        }
    }

    &--button {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 15px;
        border-radius: 10px;
        border: none;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transition: .2s;
            -webkit-box-shadow: 0px 7px 14px -7px rgba(18, 27, 125, 1);
            -moz-box-shadow: 0px 7px 14px -7px rgba(18, 27, 125, 1);
            box-shadow: 0px 7px 14px -7px rgba(18, 27, 125, 1);
        }
    }

    &--add-access {
        background-color: #0e1244d2;
        color: #fff;
    }

    &--edit-access {
        background-color: #831212d3;
        color: #fff;
    }
}

.accessmanagement__table {
    width: 100%;

    &-thead {

        &--th {
            text-align: left;
            font-weight: 500;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 10px;
            // -webkit-box-shadow: 0px 7px 14px -7px rgba(18,27,125,1);
            // -moz-box-shadow: 0px 7px 14px -7px rgba(18,27,125,1);
            // box-shadow: 0px 7px 14px -7px rgba(18,27,125,1);
        }
    }

    &-tbody {
        &-tr {
            border: 1px solid #000;
            padding: 20px;

            &.highlight-delete {
                background-color: rgba(255, 0, 0, 0.61) !important;
            }

            &:nth-child(odd) {
                background-color: #c0c0c048;
            }

            &--td {
                padding: 20px 0 20px 10px;
            }

            &-td {

                &-actions {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;


                    &--button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        width: 40px;
                        height: 30px;
                        cursor: pointer;
                    }

                    &--button:first-child {
                        border-radius: 20px 0px 0px 20px;
                    }

                    &--button:last-child {
                        border-radius: 0px 20px 20px 0px;
                    }

                    &--button:hover {
                        background-color: #ddd;
                    }
                }
            }
        }
    }
}

.status {
    border-radius: 20px;
    padding: 5px 15px;

}

.status-ativo {
    background-color: #9fdbba;
}

.status-inativo {
    background-color: #db9f9f;
}

.profile {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
}

.profile-admin {
    background-color: #00387494;
}

.profile-user {
    background-color: #000000ab;
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #352b2b77;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: -4px 10px 29px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 10px 29px -15px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 10px 29px -15px rgba(0, 0, 0, 0.75);
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;

    & button {
        padding: 8px;
        border-radius: 10px;
        border: none;
        background-color: #9994c4d2;
        opacity: 0.8;
    }

    & button:first-child {
        background-color: #8a0000f3;
        color: #fff;
    }

    & button:hover {
        opacity: 1;
    }
}

.add-access {

    &__button-back {
        width: 35px;
        height: 35px;
        border: none;
        border-radius: 50px;

        &:hover {
            background-color: #ddd;
        }
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    &__box {
        &-form {
            display: flex;
            gap: 30px;

            &-input-div {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
            }

            &-input-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                width: 100%;

                &--label {
                    font-size: 1em;
                    color: #555;
                    margin-bottom: 5px;
                }

                &--input {
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    font-size: 1em;
                    box-sizing: border-box;
                    width: 100%;

                    &:focus {
                        outline: none;
                        border-color: #011f3f;
                        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                    }
                }

                &-section {

                    &--item {
                        display: flex;
                        gap: 5px;
                        font-size: 17px;
                    }
                }

            }
        }
    }

    &__actions{
        display: flex;
        justify-content: end;
        padding: 15px 0;
        gap: 10px;

        &--button {
            display: flex;
            gap: 8px;
            padding: 8px 15px;
            border-radius: 10px;
            border: none;
            color: #5345d3;
            border: 1px solid #5345d3;
            opacity: 0.8;
            cursor: pointer;
        }
        &--button:last-child {
            background-color: #15008af3;
            color: #fff;
        }
        &--button:hover {
            opacity: 1;
            -webkit-box-shadow: -4px 10px 29px -15px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -4px 10px 29px -15px rgba(0, 0, 0, 0.75);
            box-shadow: -4px 10px 29px -15px rgba(0, 0, 0, 0.75);
        }
    }
}