.aboutmeditation {
        display: grid;
        margin-top: 90px;
        justify-content: center;
        grid-template-areas:
        "aside info"
        "aside info"
        "aside info";

        &__container {
            &-content {
                gap: 150px;


                &-box:first-child {
                }


                &-box:last-child {
                    width: 80%;
                }

                &-box {


                    &-aside {
                        display: flex;
                        flex-direction: column;
                        width: 250px;
                        gap: 10px;
                        position: fixed;
                        top: 125px;
                        border: solid 1px #000;
                        border-radius: 20px;
                        padding: 20px;

                        & > a {
                            color: #000;
                        }
                    }

                    &-info {

                        &--title {
                            font-size: 20px;
                        }

                        & > p {
                            font-size: 18px;
                        }
                        
                    }
                }
            }
        }
}

