.aboutmeditation {
        display: grid;
        margin-top: 90px;
        justify-content: center;
        grid-template-areas:
        "aside info"
        "aside info"
        "aside info";

        &__container {
            &-content {
                justify-content: start ;
                gap: 150px;

                &-box {


                    &-aside {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;


                    }

                    &-info {
                        
                    }
                }
            }
        }
}